.side-menu {
  margin: 10px 20px;
}

.side-menu__title {
  margin: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.side-menu__description {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.side-menu__item-list {
  background: rgba(255, 255, 255, 0.04);
  padding: 10px;
  border-radius: 5px;
}

.side-menu__item {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0);
  margin: 0 0 10px;
  white-space: nowrap;
  cursor: grab;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgb(255, 255, 255, 0.16);
  }
}
