.workspace {
  flex: 1;
  margin-right: 20px;
}

.workspace__list-group--empty {
  border: 1px dashed #0064d2;
  min-height: 100px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(#fff, 0.47);

  div:first-child {
    display: none;
  }

  div:only-child {
    display: block;
  }
}

.workspace__empty {
  padding: 40px;
  width: 100%;
  text-align: center;
}

.sortable-ghost + section {
  display: none;
}

.workspace__module {
  border: 1px solid rgba(#000, 0.6);
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  background: #1b1b1b;
}
